body{
    margin: 0;
    line-height: 1.5;
    background-color: rgba(244, 228, 245, 0.253);
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}
.section-first{
}
.first-section{
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
}
/* .first-section-half-width{
    width: 50%;
} */
.section-first img{
    width: 60%;
    margin-left: 160px;
    margin-top: 65px;

}


a{
    color: wheat;
    background-color: rgb(253, 81, 13);
    padding: 10px 20px;
    border-radius: 10px;
}
.top-margin{
    margin-top: 80px;
    
}
span{
    color: crimson;
}
.heading{
    box-shadow: 0px 0px 10px  rgb(255, 255, 255);
    border-left: 5px solid orange;
    border-radius: 5px;
    font-size: 45px;
}
p{
    font-size: 20px;
}
.mission22{
    font-size: 45px;
    text-align: center;
    margin-top: 70px;
}
.mission img{
    width: 30%;
    height: 50%;
    margin-left: 10px;
    margin-top: 0px;
}
.mission-flex{
    display: flex;
}

.code, .dream, .thinking{
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 5px;
}
.mission img{
    width: 40%;
    height: auto;
    padding-top: 20px;
    padding-left: 30px;
}
.code{

    background-color: rgb(209, 219, 248) ;
    border-radius: 20px;
    margin-left: 5%;
}
.dream{
    background-color: rgba(20, 231, 203, 0.26) ;
    border-radius: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.thinking{
    background-color: rgba(245, 76, 112, 0.267) ;
    border-radius: 20px;
    margin-right: 5%;
}
.about{
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: cornflowerblue;
    padding-bottom: 20px;
    padding-top: 30px;
}

.developre-info{
    width:150%;
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 40px;
    padding-left: 50px;
}

.about img{
        width: 70%;
        margin-left: 150px;
}


.about-flex{
    display: flex;
}
.agency-info{
    margin-left: 120px;
    margin-top: 50px;
    width: 45%;
    padding-right: 5%;
}
.agency-img{
    width: 100%;
}
.my-agency{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.img-div{
    width: 30%;
    margin-left: 50px;
    padding-right: 50px;
    position: relative;
}

.service{
    display: flex;
}
.service p{
    color: rgb(0, 0, 0);
    background-color: rgba(27, 207, 252, 0.26);
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.last-sec{
    margin-bottom: 100px;
    margin-top: 60px;
}
.last-sec h1{
    text-align: center;
    font-size: 45px;
    color: tomato;
}
.com-img1{
    padding: 20px;
    margin-left: 90px;
    background-color: rgba(247, 239, 171, 0.075);
    border-radius: 15px;
}


footer{
    background-color: rgba(0, 0, 0, 0.932);
    margin: 0px;
    padding: 15px;
    text-align: center;
}
footer h1{
    color: honeydew;
}
footer p{
    color: azure;
}
