body{
    margin: 0;
    line-height: 1.5;
    background-color: honeydew;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;

}
.first-section{
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
}
.first-section-half-width{
    width: 50%;
}
.first-section img{
    width: 60%;
    margin-left: 120px;
}
a{
    color: wheat;
    background-color: rgb(253, 81, 13);
    padding: 10px 20px;
    border-radius: 10px;
}
.top-margin{
    margin-top: 80px;
    
}
span{
    color: crimson;
}
.heading{
    box-shadow: 0px 0px 10px  rgb(255, 255, 255);
    border-left: 5px solid orange;
    border-radius: 5px;
    font-size: 45px;
}
p{
    font-size: 20px;
}
.mission22{
    font-size: 45px;
    text-align: center;
    margin-top: 70px;
}
.mission img{
    width: 30%;
    height: 50%;
    margin-left: 10px;
    margin-top: 0px;
}
.mission-flex{
    display: flex;
}
.code, .dream, .thinking{
    width: 30%;
    display: inline;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 5px;
}
.code{
    background-color: rgb(209, 219, 248) ;
    border-radius: 20px;
    margin-left: 5%;
}
.dream{
    background-color: rgba(20, 231, 203, 0.26) ;
    border-radius: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.thinking{
    background-color: rgba(245, 76, 112, 0.267) ;
    border-radius: 20px;
    margin-right: 5%;
}
